<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-icons.css" />
    <script defer src="js/bootstrap.bundle.min.js"></script>

    <style>
      html,
      body {
        height: 100%;
      }

      .center-items {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    </style>

    <title>EZ Express</title>
  </head>
  <body>
    <div class="center-items">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <h1>Welcome to EZ Express!</h1>
            </div>
            <div class="row">
              <h4>Created by XOR0</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
